In [1]:
import numpy as np
import pandas as pd
import xlearn as xl
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import metrics

In [2]:
ffm_model = xl.FFMModel(task='binary', 
                        lr=0.2, 
                        epoch=10, 
                        reg_lambda=0.002,
                        metric='f1')

In [21]:
mdlLR = xl.LRModel(task='binary', init=0.1, epoch=20, lr=0.1, reg_lambda=1, opt='sgd')

In [2]:
df = pd.read_csv('data/train_subset.csv')

In [3]:
df.drop('id', axis=1, inplace=True)

In [4]:
df['hour_of_day'] = df['hour'].map(lambda x: int(str(x)[-2:]))
df.drop('hour', axis=1, inplace=True)

In [5]:
y = df.click
X = df[['hour_of_day', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']]

X = pd.DataFrame({col: X[col].astype('category').cat.codes for col in X}, index=X.index)
mapping = {col: {n: cat for n, cat in enumerate(X[col].astype('category').cat.categories)} 
     for col in X}

In [6]:
X.head()

,hour_of_day,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,0,2,0,215,1503,2,1518,62,0,27538,...,1,1,162,3,2,40,0,1,0,19
1,0,2,0,215,1503,2,1518,62,0,27538,...,1,0,160,3,2,40,0,1,60,19
2,0,2,0,215,1503,2,1518,62,0,27538,...,1,0,160,3,2,40,0,1,60,19
3,0,2,0,215,1503,2,1518,62,0,27538,...,1,0,162,3,2,40,0,1,60,19
4,0,2,1,1687,910,0,1518,62,0,27538,...,1,0,256,3,2,79,0,1,0,32

In [8]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=0)

In [24]:
mdlLR.fit(X_train, y_train, eval_set=[X_val, y_val], is_lock_free=False)

In [13]:
str(int(y_train.iloc[1110]))

'1'

In [35]:
y_pred = mdlLR.predict(X_val)
metrics.log_loss(y_val, y_pred)

5.811498130388056

In [16]:
with open('data/train_ffm.txt' , 'w') as f:
    for row in range(X_train.shape[0]):
        output = ''
        x_data = X_train.iloc[row].to_dict()
        y_data = y_train.iloc[row]
        output += str(int(y_data))
        for idx,key in enumerate(x_data.keys()):
            output += " " + str(idx) + ':' + str(idx) + ":" + str(x_data[key])     
            
        output += '\n'
        f.write(output)

In [17]:
with open('data/val_ffm.txt' , 'w') as f:
    for row in range(X_val.shape[0]):
        output = ''
        x_data = X_val.iloc[row].to_dict()
        y_data = y_val.iloc[row]
        output += str(int(y_data))
        for idx,key in enumerate(x_data.keys()):
            output += " " + str(idx) + ':' + str(idx) + ":" + str(x_data[key])            
        output += '\n'
        f.write(output)

In [ ]:

ffm_model.fit('data/train_ffm.txt', eval_set='data/val_ffm.txt')
 # generate predictions
# y_pred = ffm_model.predict('data/val_ffm.txt')

In [14]:
# y = df.click
# x = df[['hour_of_day', 'C1', 'banner_pos', 'site_id', 'site_domain',
#        'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
#        'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
#        'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']]

# df_val = df[df.hour >= 14103000]
# df_train = df[df.hour < 14103000]

df_val = df[df.hour >= 14103000]
df_train = df[df.hour < 14103000]

y_train = df_train.click
x_train = df_train[['hour_of_day', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']]

y_test = df_val.click
x_test = df_val[['hour_of_day', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']]

In [ ]:
pd.DataFrame({col: df[col].cat.codes for col in df}, index=df.index)
{col: {n: cat for n, cat in enumerate(df[col].astype('category').cat.categories)} 
     for col in df}